body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/*background: rgb(33,33,33);*/
	background: #212121;
}

/*BARRA DE NAVEGACION*/
.menu{
	background-color: rgba(33,33,33,.3);
	-webkit-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.5);
	display: flex;
	padding:10px;
	justify-content: space-between;
	position: fixed;
	z-index: 3;
	width: 100%;
}

.menu ul{
	margin-right: 40px;
	list-style: none;
}

.menu h2{
	color: white;
	font-family: 'Merienda', sans-serif;
	text-shadow: 0px 2px 2px #FFC107;
}

.menu li{
	display: inline-block;
	padding: 10px;
	color: white;
	transition: .3s;
}

.menu li a{
	text-decoration: none;
	color: white;
}

.menu li:hover{
	transition: .5s;
	text-shadow: 0px -10px 10px  #FFA000;
}

/*FIN BARRA DE NAVEGACIÓN*/

/*INICIO PRIMER CONTENEDOR*/
.contenedor_1{
	height: 100%;
	width: 100%;
	background: url(../img/laptop.jpg);
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	z-index: -1;
}

.contenedor_1 .hijo1{
	position: absolute;
	top: 250px;
	right:0;
	left: 0; 
	text-align: center;
}
.title_1{
	font-family: 'Merienda', sans-serif;
	font-size: 5em;
	margin: 0;
}


.sub_title_1 span{
	color: #FFA000;
}

.contenedor_1 a{
	background-image: linear-gradient(to bottom, #ffa000, #ffa800, #ffb100, #ffb902, #ffc107);
	text-decoration: none;
	padding: 10px;
	color: white;
	border-radius: 10%;
	width: 100px;
}

/*.contenedor_1 hr{
	border: none;
    border-top: 1px dashed #fff;
}
*/
/*PADRE 1*/
#padre_1{
	/*background-image: linear-gradient(to top, #212121, #343434, #494949, #5f5f5f, #757575);*/
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#padre_1 .img_cont{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	padding: 50px;
}

#padre_1 .hijo_2{
	padding: 50px;
}

#padre_1 .hijo_2 h4{
	font-family: 'Merienda', sans-serif;
	font-size: 2em;
	text-align: center;
}

/*FIN PADRE 1*/

/*PADRE 2*/
#padre_2{
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #FFA000;*/
	background-image: linear-gradient(to bottom, #ffa000, #ffa800, #ffb100, #ffb902, #ffc107);
}

#padre_2 .img_cont{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	padding: 50px;
}

#padre_2 .hijo_1{
	padding: 50px;
}

#padre_2 .hijo_1 h4{
	font-family: 'Merienda', sans-serif;
	font-size: 2em;
	text-align: center;
}

/*FIN PADRE 2*/

/*PADRE 1*/
.parallax {
	color: white;
	text-align: center;
	width: 100%;
	height: 100px;
	background: url(../img/code.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.intermedio_1{
	color: white;
	text-align: center;
	padding: 1em;
	background: url(../img/code-desenfocado.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.intermedio_1 h4{
	font-family: 'Merienda', sans-serif;
	font-size: 2em;
	margin:0;
}

.intermedio_1 p{
	margin:0;
	padding: 5px;
	padding-top: 20px;
}

.footer {
  padding: 50px;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto h3 {
	color: white;
	font-family: 'Merienda', sans-serif;
  display: block;
  font-size: 2em;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}


.footer .contenedor {
  display: flex;
  justify-content: space-between;
}


.formulario {
  display: flex;
  width: 400px;
  color: white;
}
.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}
.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}


.sexo {
  margin-top: 10px;
}
